<!-- <p *ngFor="let item of photosMappedURLs; let i = index">{{ item.title }}</p> -->
<div class="row fixed-top justify-content-center bg-white">
  <div class="col-md-4 p-2">
    <div class="input-group rounded">
      <input
        type="text"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        [(ngModel)]="searchString"
        (change)="search()"
      />
    </div>
  </div>
</div>

<!-- Gallery -->
<div class="row">
  <div
    *ngFor="let item of photosMappedURLs; let i = index"
    class="shadow-box col-lg-4 mb-4 mb-lg-0"
    [ngClass]="{ 'col-md-12': i % 2 != 0 }"
  >
    <img
      [src]="item.url + '.jpg'"
      class="w-100 shadow-1-strong rounded mb-4 img-fluid"
      [alt]="item.title"
    />
  </div>
</div>
<!-- Gallery -->

<!--On Scroll-->
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
<!--/ On Scroll-->
